.main-body {
  margin: 40px;
}

.card {
  padding: 30px;
  box-shadow: #aaa 0px 0px 30px;
  margin-bottom: 20px;
}

.profile-header-container {
  text-align: center;
  margin-top: 10px;
}

.profile-body-container {
  text-align: justify;
}

.profile-social-container .fa {
  margin: 0px 5px;
}

#profile-card,
#summary-card {
  display: flex;
  flex: 1;
}

.carousel-indicators li,
.carousel-indicators .active {
  border-color: #555;
}

.carousel-indicators .active {
  background-color: #555;
}

#summary-carousel {
  width: 100%;
}

.carousel-indicators {
  bottom: 0px;
  margin-bottom: 0px;
}

.carousel-inner {
  margin-bottom: 20px;
}

.carousel-inner h3 {
  margin-top: 0px;
}

.summary-container ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}
.summary-container li {
  list-style-type: none;
  margin-bottom: 2px;
}